html {
  background-color: #d47205;
  color: #222;
  font-family: "Lato", Arial, Helvetica, sans-serif;
  box-sizing: border-box;
  font-size: 10px;
}

h2 {
  font-size: 3.2rem;
  font-weight: 900;
  line-height: 4.48rem;
  margin-bottom: 2rem;
}

h3 {
  font-size: 2.2rem;
  font-weight: 700;
  line-height: 3.08rem;
}

p {
  font-size: 1.4rem;
  line-height: 1.96rem;
}

small {
  font-family: "Merriweather", serif;
  font-size: 1rem;
  line-height: 1.4rem;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

.primary-header {
  background: url(../images/ic-logo.svg) 24px no-repeat;
  background-size: 32px;
  
}
.primary-header h1 {
  font-size: 2.4rem;
  margin-left: 58px;
  text-transform: uppercase;
  letter-spacing: -1px;
}
.primary-header span {
    font-weight: bold;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 64px;
}
.navbar a {
  text-decoration: none;
  color: #222;
  font-size: 1.4rem;
}
.navbar a:hover {
  color: #bbb;
}
.nav-link {
  display: inline-flex;
  margin-right: 1.6rem;
}
.nav-link:last-child {
  margin-right: 2.4rem;
}

.col-60-40 {
  display: flex;
  align-items: center;
}
.column-60 {
  flex-basis: 60%;
}
.column-40 {
  flex-basis: 40%;
}

.banner {
  background: #bbb;
}
.banner h2 {
  font-size: 4rem;
  line-height: 5.6rem;
}
.banner-figure {
  padding: 3.2rem 2.4rem;
}
.banner-image {
  width: 100%;
  height: auto;
}
.banner-text {
  padding-right: 2.4rem;
}
.banner p {
  font-size: 2rem;
  font-weight: 700;
  line-height: 2.8rem;
  margin-bottom: 3rem;
}

.button {
  background-color: #222;
  border: none;
  color: whitesmoke;
  padding: 1.4rem;
  text-align: center;
  font-size: 1.6rem;
  cursor: pointer;
  display: block;
  width: 100%;
}
.button:hover {
  background-color: #d47205;
}

.information-main {
  background-color: whitesmoke;
  color: #222;
}
.information-main figure {
  padding: 3.2rem 2.4rem;
  border-right: 1px solid #bbb;
}
.information-main img {
  width: 100%;
  height: auto;
}
.information-main video {
  width: 100%;
  height: auto;
}
.information-main h2 {
  margin-top: 3.2rem;
  margin-bottom: 2.4rem;
  font-size: 3.2rem;
}
.information-image p {
  margin-bottom: 2.4rem;
}

.information-aside {
  padding-top: 1.6rem;
}
.information-aside ul {
  flex-basis: 65%;
}
.information-aside a {
  font-size: 1.2rem;
  text-decoration: none;
}
.aside-thumbnail li {
  margin-bottom: 0.8rem;
}

.aside-thumbnail {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #bbb;
  padding-right: 2.4rem;
}
.aside-thumbnail img{
  flex-basis: 35%;
  height: auto;
  padding: 1.6rem;
}
.aside-thumbnail:last-child {
  border-bottom: none;
}

.featured {
  background-color: #d47205;
}

.start-learning {
  background-color: #bbb;
  padding: 3.2rem 7.2rem 0 7.2rem;
}
.section-title {
  padding-bottom: 3.2rem;
  text-align: center;
}

.learning-grid {
  display: flex;
  justify-content: space-between; 
  flex-wrap: wrap;
  
}
.learning-grid figure {
  flex-basis: 30%;
  max-width: 30%;
  margin-bottom: 3.2rem;
}
.learning-grid img {
  width: 100%;
  height: auto;
}
.learning-grid ul {
  padding: 1.6rem;
  padding-bottom: 2.4rem;
  padding-top: 0.8rem;
  background-color: whitesmoke;
  border: none;
  border-top: 2px solid #d47205;
}
.learning-grid li {
  padding-top: 0.8rem;
}
.courses {
  text-transform: uppercase;
}

.thesis {
  padding: 3.2rem 0 2.4rem 3.2rem;
  background-color: whitesmoke;
}

.primary-footer {
  border-top: 1px solid #bbb;
}
.primary-footer p {
  margin-left: 2.4rem;
}